<table class="table table-striped">
  <% @logs.each do |log| %>
    <tr>
      <td><%= log.user.name %></td>
      <td>
        <% if params[:noparse] %>
          <%= log.heart_rate %>
        <% else %>
          <% beats = JSON.parse(log.heart_rate) %>
          <% beats.each do |beat| %>
            <% if params[:nodate] %>
              <%= beat["timestamp"] %>
            <% else %>
              <%= I18n.l DateTime.parse(beat["timestamp"]) %>
            <% end %>
            <%= beat["heart_rate"] %>
          <% end %>
          <br>
        <% end %>
      </td>
      <td><%= I18n.l log.date, format: :long %></td>
    </tr>
  <% end %>
</table>