<h1>User</h1>

<h4>Name:</h4>
<%= @user.name %>

<h4>Name AIP:</h4>
<%= @user.name_aip %>

<h4>Email:</h4>
<%= @user.email %>

<h4>Email AIP:</h4>
<%= @user.email_aip %>

<%= link_to 'My Heart Rate Logs', heart_rate_logs_path %>
<br />
<%= link_to 'My Step Day Logs', step_day_logs_path %>
