<h1>User</h1>

<div class="row">
  <div class="col-6">
    <h4>Name:</h4>
    <%= @user.name %>

    <h4>Name AIP:</h4>
    <%= @user.name_aip %>

    <h4>Email:</h4>
    <%= @user.email %>

    <h4>Email AIP:</h4>
    <%= @user.email_aip %>

    <h4>Date of Birth:</h4>
    <%= @user.date_of_birth %>

    <h4>Date of Birth:</h4>
    <%= @user.date_of_birth_aip %>

    <h4>Gender:</h4>
    <%= @user.gender %>

    <h4>Gender AIP:</h4>
    <%= @user.gender_aip %>

    <h4>Phone Number:</h4>
    <%= @user.phone_number %>

    <h4>Phone Number AIP:</h4>
    <%= @user.phone_number_aip %>

    <br />

    <%= link_to 'Edit', edit_user_url(@user) %>

  </div>

  <div class="col-6 ">
    <div class="card">
      <div class="card-body">
        <ul>
          <li>
            <%= link_to 'My Heart Rate Logs', heart_rate_logs_path %>
          </li>
          <li>
            <%= link_to 'My Step Day Logs', step_day_logs_path %>

          </li>
        </ul>
      </div>


    </div>

  </div>
</div>


