<%= form_with(model: heart_rate_log, local: true) do |form| %>
  <% if heart_rate_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(heart_rate_log.errors.count, "error") %> prohibited this heart_rate_log from being saved:</h2>

      <ul>
      <% heart_rate_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :heart_rate %>
    <%= form.text_field :heart_rate %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
